/*
 *	DEMO STYLING
 */
 
 body{font-family:Arial, Helvetica, Verdana, Tahoma, sans-serif, sans;}
 
.select_replace{
	width: 200px;
	height: 22px;
	background: #efefef url(../images/dropdown.png) no-repeat center right ;
	border: 1px solid #ccc;
	position: relative;
	z-index: 1;
}
	.display {
		width: 178px;
		height: 20px;
		margin: 1px;
		line-height: 20px;
		background-color: #fff;
		overflow: hidden;
	}
	.options{
		background-color: #efefef;
		position:absolute;
		z-index: 9999;
		width: 198px;
		border: 1px solid #000;
	}
		.options .group {
			/* optgroup-surrounding div */
			background-color: #ccc;
			border: 2px solid #999;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			margin-bottom: 3px;
		}
		.options strong {
			/* optgroup head */
		}
		.options ul {
			list-style-type: none;
			margin: 0;
			padding: 0;	
		}
		.options li {
			list-style-type: none;
			margin: 0;
			padding: 3px 5px;
		}
		.entry_selected {
			background-color: #66f;
		}
		.entry_hover {
			background-color:#fff;
			color: #000;
		}
